*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block !important;
    text-decoration: none !important;
}

a:visited{
    color: inherit !important;
}

li{
    list-style-type: none;
}
:root{
    --main-proyectos-color: #FF6D60;
    --main-proyectos-color2: #f89086;
    --main-sobreMi-color: #F7D060;
    --main-sobreMi-color2: #f6d470;
    --main-contacto-color: #68f760;
    --main-contacto-color2: #94f78e;
    --main-navfooter-color: #98D8AA;
}


body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: auto;
}


.container-proyectos{
    display: flex;
    flex-direction: column;
    height: auto;
}

.proyectos{
    width: 100vw;
    height: 40rem;
}

.bx-down-arrow-alt, .bx-up-arrow-alt{
    display: block;
    cursor: pointer;
    font-size: 30px;
    animation-name: flecha;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 10px;
}

.flechas-container{
    /* display: flex; */
    flex-direction: row;
    margin: 0 auto;
}
/* empieza S E C C I O N 1 */

#seccion1-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50rem;
    margin-top: -2rem;
    background-color: var(--main-proyectos-color);
}

.proyecto-titulo{
    font-family: 'Skranji', cursive;
    display: inline;
    font-size: 5rem;
    margin: 4rem;
}

.proyecto-imagen{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


#seccion2-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50rem;
    background-color: var(--main-proyectos-color2);
}

.card{
    background-color: transparent !important;
    border: none !important;
    margin: 2rem;
}

.card-img-center{
    cursor: pointer;
    border-radius: 5px;
} 

.card-img-center:hover{
    transform: scale(1.05);
}

/* termina S E C C I O N 1 */

/* empieza S E C C I O N 2 */

#seccion1-sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50rem;
    margin-top: -2rem;
    background-color: var(--main-sobreMi-color);
}


#seccion2-sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50rem;
    background-color: var(--main-sobreMi-color2);
}

.titulo-sobreMi{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}
.texto-sobreMi{
    font-family: 'Lobster', cursive;
    line-height: 1.5;
    word-spacing: 2;
}

.bxl-html5{
    color: #DD4B25;
}
.bxl-css3{
    color: #254BDD;
}
.bxl-javascript{
    color: #EFD81D;
}
/* termina S E C C I O N 2 */

/* empieza S E C C I O N 3 */

#seccion1-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50rem;
    margin-top: -2rem;
    background-color: var(--main-contacto-color);
}

#seccion2-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50rem;
    background-color: var(--main-contacto-color2);
}

.titulo-contacto{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* termina S E C C I O N 3 */

/* empieza F O O T E R */


footer{
    display: flex;
    width: 100vw;
    height: 20rem;
    background-color: var(--main-navfooter-color);
    border-top: 2px solid #777;
}


/* termina F O O T E R */











@keyframes flecha {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px);
    }
}

